.cabecera{
    align-items: center;
    background-color:white;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    position: sticky;
    top: 0rem;
    z-index: 1;
}

.logo__cabecera{
    height: 3.4rem;
}

.menu__list {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu__item {
    list-style: none;
}

.menu__link {
    text-align: start;
    font-size: larger;
    text-decoration-line: none;
    color: black;
    display: flex;
    margin-right: 2rem;
}

.menu__link:hover {
    text-decoration:underline;
    color: rgb(185, 0, 0);
    transform: scale(1.1, 1.1);
    transition: 0.7s transform;
}

@media screen and (max-width: 780px) {
    .cabecera{
        justify-content: center;
        display: inline-block;
        padding-left: 0rem;
        position: static;
    }

    .menu__link{
        margin-right: 1rem;
    }

    .menu__list{
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 4%;
    }

    .logo__cabecera{
        height: 0px;
        width: 0px;
        visibility: hidden;
    }
}